/*--------------------------- 
  google fonts linked here 
---------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,400;1,500;1,600&display=swap');

/*------------------
  default style 
--------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;

}
body{
    background-color: aliceblue;
}


/*------------------------------
header section starts here 
-------------------------------- */
.navber-style{
    background-color: #fff;
    height: 13vh;   
}
.logo{
    display: flex;
    align-items:center;
}
.logo img{
    width: 70px;
    height: 60px;

}
.logo h2{
    font-size:22px;
    margin-left: -10px;
    color: #209cEE;
}
.link-style{
    color: #000;
    transition: .3s;
}
.link-style:hover{
    color: #209cEE;
}

/*---------------------------
 home-section starts here 
----------------------------- */

.main-title{
    font-size: 28px;
    margin-top: 30px;
}
.title{
    color: #209cEE;
    font-weight: bold;
}
.search-box{
    display: flex;
    align-items: center;
    width: 35%;
    margin-top: 20px;
}
.search-box input{
    border: none;
    background-color: #fff;
    padding: 10px 15px;
    width: 80%;
    border: 1px solid lightgray;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.search-btn{
    display: flex;
    border: none;
    color: #fff;
    font-weight: 500;
    align-items: center;
    padding: 10px 15px;
    background-color: #209cEE;
    border: 1px solid #209cEE;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition:.3s ease-in-out;
    cursor: pointer;
}
.search-btn:hover{
    background-color: #FFF;
    color:#209cEE;
}
.search-btn i{
    margin-left: 5px;
}
.card{
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 10px;
    transition: .2s ease-in;
}
.card:hover{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.img-frame{
    position: relative;
    overflow: hidden;
}
.card img{
    width: 90%;
    display: block;
    margin:10px auto;
}
.brand-name{
    font-weight: 500;
    font-size: 23px;
    padding: 2px 10px;
    border-radius: 10px;
}
.error1{
    color: #cb3439;
    padding: 5px;
    width: 50%;
    display: none;
    margin:20px auto;
    text-align: center;
    border-radius: 10px;
    background-color:#ffc0cb;
}

/*----------------------
 spiner starts here 
------------------------ */
#spinner{
    display: none;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
}
#spinner img{
    width: 100px;
}

/* main features  */
.mainFeatures,
.others{
    text-align: center;
    display: block;
    font-weight: bold;
    border-bottom: 2px solid #209cEE;
    padding-bottom: 2px;
}

/* sensor items design  */
.sencor-items{
    background: #eaeaeb;
    display: inline-block;
    margin-left: 0.3rem;
    padding: 0 0.3rem;
    border-radius: 0.2rem;
    margin-bottom: 0.3rem;
}

/* brand style here  */
.brand{
    background: #ff8800;
    color: white;
    padding: 0 0.3rem;
    border-radius: 0.2rem;
}

/* main details cars  */
.main-card{
    position: relative;
}

.other-element{
    margin-bottom: 0px;
}

/* close btn starts here  */
.close-box {
    cursor: pointer;
    position: absolute;
    top: -25px;
    right: -15px;
}




























@media screen and (max-width:576px) {
    .navber-style{
        height: auto;   
    }
    .main-title{
        font-size: 20px;
    }
    .search-box{
        width: 75%;
    }
    .error1{
        width: 75%;
        font-size: 15px;
    }
    
}